<!DOCTYPE html>
<html>
<body>
    <h2>Bid on {{ item_info.item_name }}</h2>
    <form action="/bid" method="post">
        Item: {{ item_info.item_name }}<br>
        Description: {{ item_info.description }}<br>
        Current Bid: {{ item_info.current_bid }}<br>
        End Time: {{ item_info.end_time }}<br>
        <br>
        Your Bid: <input type="number" name="bid_amount" step="0.01" required><br>
        <input type="submit" value="Place Bid">
        <input type="hidden" name="item_name" value="{{ item_name }}">
    </form>
</body>
</html>
